body {
    border: 2px solid red;
}
#main {
    border: 2px solid black;
}
#title {
    border: 2px solid orange;
}
#img-div {
    border: 2px solid greenyellow;
}
#image {
    border: 2px solid blue;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
#img-caption {
    border: 2px solid purple;
}
#tribute-info {
    border: 2px solid yellow;
}
#learn-more {

}